**Função print:**

In [2]:
print("Olá mundo!")

Olá mundo!

**Variaveis:**

In [3]:
idade = 30
print(idade)

idade = 28
print(idade)

nome = "victor"
print(nome)

30
28
victor

**Tipos de variaveis:**

  **Tipos nativos:**

**Tipos numéricos:** Inteiros (int) e decimais (flooat):

In [10]:
idade = 30
tipo_idade = type(idade)

print(idade)
print(tipo_idade)
print(type(idade))

juros = 0.05
tipo_juros = type(juros)

print(juros)
print(tipo_juros)
print(type(juros))

30
<class 'int'>
<class 'int'>
0.05
<class 'float'>
<class 'float'>

**Tipos de texto:** strings (str):

In [12]:
nome = "victor"
tipo_nome = type(nome)

print(nome)
print(tipo_nome)
print(type(nome))

pais = "Brasil"
tipo_pais = type(pais)

print(pais)
print(tipo_pais)
print(type(pais))

victor
<class 'str'>
<class 'str'>
Brasil
<class 'str'>
<class 'str'>

**Tipos lógicos:** booleanos (bool):

In [13]:
maior_de_idade = True
menor_de_idade = False

tipo_maior_de_idade = type(maior_de_idade)
tipo_menor_de_idade = type(menor_de_idade)

print(maior_de_idade, "e", menor_de_idade)
print(tipo_maior_de_idade, "e", tipo_menor_de_idade)
print(type(maior_de_idade), "e", type(menor_de_idade))

True e False
<class 'bool'> e <class 'bool'>
<class 'bool'> e <class 'bool'>

**Tipo vazio:** (NoneType):

In [14]:
numero_telefone = None
tipo_numero_telefone = type(numero_telefone)

print(numero_telefone)
print(tipo_numero_telefone)
print(type(numero_telefone))

None
<class 'NoneType'>
<class 'NoneType'>