## **Definição**

Armazenam **valores numéricos:**

*   10, 70, 500 (inteiros);
*   0.333, 10.5 (decimais);
*   1 + 2j (complexos).

São do tipo:

*   int (inteiros);
*   float (decimais);
*   complex (complexos).

In [4]:
print(type(37))
print(type(10.1))
print(type(1 +2j))

<class 'int'>
<class 'float'>
<class 'complex'>

## **Operações**

As operações dos tipos numéricos são as quatro operações matempaticas fundamentais:


*   \+  (soma);
*   \-  (subtração);
*   \*  (multiplicação);
*   /  (divisão).

Além de operações mais avançadas:

*   // (divisão inteira);
*   ** (potência ou exponeciação);
*   % (resto de divisão).

**Exemplo**: Carrinho de compra de um e-commerce.

In [ ]:
qtd_itens_carrinho_compra = 0
print("Quatidade de itens no carrinho é: ", qtd_itens_carrinho_compra)

qtd_itens_carrinho_compra = qtd_itens_carrinho_compra + 1
print("Quatidade de itens no carrinho é: ",qtd_itens_carrinho_compra)

qtd_itens_carrinho_compra = qtd_itens_carrinho_compra + 1
print("Quatidade de itens no carrinho é: ",qtd_itens_carrinho_compra)

In [ ]:
qtd_itens_carrinho_compra = 0
print("Quatidade de itens no carrinho é: ", qtd_itens_carrinho_compra)

qtd_itens_carrinho_compra += 1
print("Quatidade de itens no carrinho é: ",qtd_itens_carrinho_compra)

qtd_itens_carrinho_compra += 1
print("Quatidade de itens no carrinho é: ",qtd_itens_carrinho_compra)

**Exemplo:** Total a pagar de um produto.

In [9]:
preco = 47
quantidade = 0.250

total_a_pagar = quantidade * preco
print(total_a_pagar)

11.75

In [10]:
a = 3
b = 2

c = a / b
print(c)
print(type(c))

d = a // b
print(d)
print(type(d))

1.5
<class 'float'>
1
<class 'int'>

## **Conversão**

Podemos converter os tipos numéricos entre si utilizando o método nativo int, float e complex:

In [ ]:
print(int(3.9))

In [ ]:
print(float(10))

In [ ]:
print(complex(1))

## **Exercicio**

Dia || Valor Total Vendas || Qtd Total Vendas || Ticket Médio

19/01 ||        153.98 || 3 || ?

20/01 || 337.01 || 7 || ?

23/01 || 295.33 || 5 || ?

Tiket médio dia 19

In [18]:
vtv1 = 153.98
qtv1 = 3

tkm1 = vtv1 / qtv1
print(tkm1)

51.32666666666666

Tiket médio dia 20

In [19]:
vtv2 = 337.01
qtv2 = 7

tkm2 = vtv2 / qtv2
print(tkm2)

48.144285714285715

Tiket médio dia 23

In [20]:
vtv3 = 295.33
qtv3 = 5

tkm3 = vtv3 / qtv3
print(tkm3)

59.065999999999995

Tiket médio do período analisado

In [21]:
tkm = (tkm1 + tkm2 + tkm3) / 3
print(tkm)

52.8456507936508